$laptop: 1440;
$tablet: 1100;
$mobile: 768;

$whiteColor: #fff;
$dirtyWhiteColor: #f5f5fa;

$greyColor: #666;
$darkGreyColor: #444;
$lightGreyColor: #d9d9d9;
$silverColor: #bababa;

$greenColor: #47bc1f;
$darkGreenColor: #2e8237;
$lightGreenColor: #4dae44;

$blackColor: #222;
$graphiteColor: #1b1b1b;

$purpleColor: #8681bc;
$orchidColor: #9F51F2;
$darkPurpleColor: #7951b3;
$darkBlueColor: #352d6d;